<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	 <form action="http://127.0.0.1:8888/amis_OK" >
		<p>
            <span>Votre compte</span><input type="text" name="name"/>
     
        </p>
        <p>
            <span>Le compte vous voulez supprimer</span><input type="text" name="nameamis"/>
     
        </p>
        <a href="./amis_Sup.html">
			<button>supprimer</button>
		</a>

    </form>
</body>
</html>