<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>informations</title>
</head>
<body>
    <form action="http://127.0.0.1:8888/infos_insert" >
	<h1>Vous n'avez toujours pas de données, veuillez remplir<h1>
		<p>
            <span>Votre compte</span><input type="text" name="name"/>
     
        </p>
        <p>
            <span>age</span><input type="text" name="SortID"/>
     
        </p>
        <p>
            <span>famille</span><input type="text" name="Famile"/>
        </p>
		<p>
			<span>role</span><input type="text" name="role"/>
		</p>
        <a href="./infos_OK.html">
			<button>Click me</button>
		</a>
    </form>
</body>
</html>